.circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  font-size: 25px;
  color: #fff;
  line-height: 150px;
  text-align: center;
  background: #000;
}

.center {
    margin: auto;
    width: 50%;
    border: 1px solid black;
    padding: 30px;
    text-align: center;
}


